@model SortShowTimeInput

<div class="col">
    <div class="d-flex justify-content-center">
        <form asp-action="Index" asp-controller="ShowTimes" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Chi nhánh</label>
                        <select asp-for="branchId" asp-items="ViewBag.SelectListBranch" class="form-select"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Ngày</label>
                        <input asp-for="date_from" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Xem lịch" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>