@model List<ShowTime>
@{
    ViewData["Title"] = "Lịch chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1>LịCH CHIẾU</h1>
<h3>Chi nhánh @ViewBag.BranchName</h3>
<h3>Phòng @ViewBag.RoomName</h3>

<h1 class="text-center">Tính năng đang cập nhật</h1>

@* @await Html.PartialAsync("_ShowTimeDayRoom", Model) *@