@model NTTCinemas.Models.DbModels.Branch

@{
    ViewData["Title"] = "EditImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cập nhật hình ảnh</h1>

<h4>@Model.BranchName</h4>
<hr />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="EditImage" enctype="multipart/form-data">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Hình ảnh</label>
                            <input name="formFile" type="file" class="form-control" />
                            <input name="branchId" type="hidden" value="@Model.BranchId" />
                        </div>
                    </div>
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-branchId="@Model.BranchId">Trở về</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
